typeattribute hal_fingerprint_default data_between_core_and_vendor_violators;

type_transition hal_fingerprint_default system_data_file:{ dir file } gx_fpd_data_file;

add_service(hal_fingerprint_default, goodix_fingerprint_vndservice);
binder_use(hal_fingerprint_default);
r_dir_file(hal_fingerprint_default, firmware_file);
set_prop(hal_fingerprint_default, fingerprint_prop);
vndbinder_use(hal_fingerprint_default);

allow hal_fingerprint_default gx_fpd_device:chr_file rw_file_perms;
allow hal_fingerprint_default fpc_sysfs:dir r_dir_perms;
allow hal_fingerprint_default fpc_sysfs:file rw_file_perms;
allow hal_fingerprint_default fingerprintd_data_file:file create_file_perms;
allow hal_fingerprint_default fingerprintd_data_file:dir rw_dir_perms;
allow hal_fingerprint_default fpc_data_file:dir rw_dir_perms;
allow hal_fingerprint_default tee_device:chr_file rw_file_perms;
allow hal_fingerprint_default property_socket:sock_file write;
allow hal_fingerprint_default init:unix_stream_socket connectto;
allow hal_fingerprint_default self:netlink_socket create_socket_perms_no_ioctl;
allow hal_fingerprint_default vndbinder_device:chr_file rw_file_perms;
allow hal_fingerprint_default uhid_device:chr_file rw_file_perms;

allow hal_fingerprint_default gx_fpd_data_file:dir create_dir_perms;
allow hal_fingerprint_default system_data_file:dir create_dir_perms;
allow hal_fingerprint_default gx_fpd_data_file:file create_file_perms;
